@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 5.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7rem;
}
.display-2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-4 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Source Serif Pro', serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1rem;
}
.display-7 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.48rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.92rem;
    font-size: calc( 2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fff0b0 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fff0b0 !important;
  border-color: #fff0b0 !important;
  color: #b08f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #594800 !important;
  background-color: #ffe059 !important;
  border-color: #ffe059 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #b08f00 !important;
  background-color: #ffe059 !important;
  border-color: #ffe059 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fff0b0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffe059 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #b08f00 !important;
  background-color: #fff0b0 !important;
  border-color: #fff0b0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fff0b0 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ffdd4a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fff0b0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fff0b0;
  border-color: #fff0b0;
  color: #caa300;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #fff0b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fff0b0 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #fff0b0;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fff0b0;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fff0b0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fff0b0;
  border-bottom-color: #fff0b0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fff0b0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fff0b0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-svvB4gYiT5 {
  z-index: 1000;
  width: 100%;
}
.cid-svvB4gYiT5 nav.navbar {
  position: fixed;
}
.cid-svvB4gYiT5 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-svvB4gYiT5 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-svvB4gYiT5 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-svvB4gYiT5 .dropdown-item:hover,
.cid-svvB4gYiT5 .dropdown-item:focus {
  background: #fff0b0 !important;
  color: white !important;
}
.cid-svvB4gYiT5 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-svvB4gYiT5 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-svvB4gYiT5 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-svvB4gYiT5 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-svvB4gYiT5 .nav-link {
  position: relative;
}
.cid-svvB4gYiT5 .container {
  display: flex;
  margin: auto;
}
.cid-svvB4gYiT5 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-svvB4gYiT5 .dropdown-menu,
.cid-svvB4gYiT5 .navbar.opened {
  background: #881a1a !important;
}
.cid-svvB4gYiT5 .nav-item:focus,
.cid-svvB4gYiT5 .nav-link:focus {
  outline: none;
}
.cid-svvB4gYiT5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-svvB4gYiT5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-svvB4gYiT5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-svvB4gYiT5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-svvB4gYiT5 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-svvB4gYiT5 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-svvB4gYiT5 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(136, 26, 26, 0.3);
}
.cid-svvB4gYiT5 .navbar.opened {
  transition: all 0.3s;
}
.cid-svvB4gYiT5 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-svvB4gYiT5 .navbar .navbar-logo img {
  width: auto;
}
.cid-svvB4gYiT5 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-svvB4gYiT5 .navbar.collapsed {
  justify-content: center;
}
.cid-svvB4gYiT5 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-svvB4gYiT5 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-svvB4gYiT5 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.7rem);
  }
}
.cid-svvB4gYiT5 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-svvB4gYiT5 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-svvB4gYiT5 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-svvB4gYiT5 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-svvB4gYiT5 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-svvB4gYiT5 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-svvB4gYiT5 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-svvB4gYiT5 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-svvB4gYiT5 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-svvB4gYiT5 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-svvB4gYiT5 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-svvB4gYiT5 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-svvB4gYiT5 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-svvB4gYiT5 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-svvB4gYiT5 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-svvB4gYiT5 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-svvB4gYiT5 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-svvB4gYiT5 .navbar.navbar-short {
  min-height: 60px;
}
.cid-svvB4gYiT5 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-svvB4gYiT5 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-svvB4gYiT5 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-svvB4gYiT5 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-svvB4gYiT5 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-svvB4gYiT5 .dropdown-item.active,
.cid-svvB4gYiT5 .dropdown-item:active {
  background-color: transparent;
}
.cid-svvB4gYiT5 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-svvB4gYiT5 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-svvB4gYiT5 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-svvB4gYiT5 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #881a1a;
}
.cid-svvB4gYiT5 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-svvB4gYiT5 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-svvB4gYiT5 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-svvB4gYiT5 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-svvB4gYiT5 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-svvB4gYiT5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-svvB4gYiT5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-svvB4gYiT5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-svvB4gYiT5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-svvB4gYiT5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-svvB4gYiT5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-svvB4gYiT5 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-svvB4gYiT5 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-svvB4gYiT5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-svvB4gYiT5 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-svvB4gYiT5 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-svvB4gYiT5 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-svvB4gYiT5 .navbar {
    height: 70px;
  }
  .cid-svvB4gYiT5 .navbar.opened {
    height: auto;
  }
  .cid-svvB4gYiT5 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ssBBixrkli {
  background-image: url("../../../assets/images/fog-2033779-1920-1920x1279-5-a.gif");
}
@media (max-width: 991px) {
  .cid-ssBBixrkli .mbr-section-title,
  .cid-ssBBixrkli .mbr-section-subtitle,
  .cid-ssBBixrkli .mbr-section-btn,
  .cid-ssBBixrkli .mbr-text {
    text-align: center;
  }
}
.cid-ssBBixrkli .mbr-section-title {
  color: #e6c63b;
  text-align: center;
}
.cid-ssBBixrkli .mbr-text,
.cid-ssBBixrkli .mbr-section-btn {
  color: #fafafa;
  text-align: center;
}
.cid-ssBQWisFVZ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #360814;
}
.cid-ssBQWisFVZ .line {
  background-color: #360814;
  color: #360814;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-ssBQWisFVZ .section-text {
  padding: 2rem 0;
  color: #c9a93d;
}
.cid-ssBQWisFVZ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-ssBQWisFVZ .inner-container {
    width: 100% !important;
  }
}
.cid-ssBHBAC7Mv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/aurora-5510268.gif");
}
.cid-ssBHBAC7Mv .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-ssBHBAC7Mv .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-ssBHBAC7Mv .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-ssBHBAC7Mv .mbr-text,
.cid-ssBHBAC7Mv .mbr-section-btn {
  color: #fafafa;
  text-align: left;
}
.cid-ssBQZexqm7 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #360814;
}
.cid-ssBQZexqm7 .line {
  background-color: #360814;
  color: #360814;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-ssBQZexqm7 .section-text {
  padding: 2rem 0;
  color: #c9a93d;
}
.cid-ssBQZexqm7 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-ssBQZexqm7 .inner-container {
    width: 100% !important;
  }
}
.cid-svvPBt2dUY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #2b2614;
}
.cid-svvPBt2dUY .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-svvPBt2dUY .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-svvPBt2dUY .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-svvPBt2dUY .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-svvPBt2dUY .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-svvPBt2dUY .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-svvPBt2dUY .carousel-control,
.cid-svvPBt2dUY .close {
  background: #1b1b1b;
}
.cid-svvPBt2dUY .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-svvPBt2dUY .carousel-control-prev span {
  margin-right: 5px;
}
.cid-svvPBt2dUY .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-svvPBt2dUY .carousel-control-next span {
  margin-left: 5px;
}
.cid-svvPBt2dUY .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-svvPBt2dUY .close::before {
  content: '\e91a';
}
.cid-svvPBt2dUY .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-svvPBt2dUY .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svvPBt2dUY .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPBt2dUY .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svvPBt2dUY .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svvPBt2dUY .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-svvPBt2dUY .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svvPBt2dUY .carousel-indicators li.active,
.cid-svvPBt2dUY .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svvPBt2dUY .carousel-indicators li::after,
.cid-svvPBt2dUY .carousel-indicators li::before {
  content: none;
}
.cid-svvPBt2dUY .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svvPBt2dUY .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-svvPBt2dUY .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-svvPBt2dUY .carousel-indicators {
    display: none;
  }
}
.cid-svvPBt2dUY .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svvPBt2dUY .carousel-inner > .active {
  display: block;
}
.cid-svvPBt2dUY .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPBt2dUY .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-svvPBt2dUY .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-svvPBt2dUY .carousel-control,
  .cid-svvPBt2dUY .carousel-indicators,
  .cid-svvPBt2dUY .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-svvPBt2dUY .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-svvPBt2dUY .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-svvPBt2dUY .carousel-indicators .active,
.cid-svvPBt2dUY .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-svvPBt2dUY .carousel-indicators .active {
  background: #fff;
}
.cid-svvPBt2dUY .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-svvPBt2dUY .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-svvPBt2dUY .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-svvPBt2dUY .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-svvPBt2dUY .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-svvPBt2dUY .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-svvPBt2dUY .carousel {
  width: 100%;
}
.cid-svvPBt2dUY .modal-backdrop.in {
  opacity: 0.8;
}
.cid-svvPBt2dUY .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-svvPBt2dUY .modal.fade .modal-dialog,
.cid-svvPBt2dUY .modal.in .modal-dialog {
  transform: none;
}
.cid-svvPBt2dUY .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-svvPBt2dUY H6 {
  text-align: center;
}
.cid-svvPD1R9Ur {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #362708;
}
.cid-svvPD1R9Ur .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-svvPD1R9Ur .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-svvPD1R9Ur .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-svvPD1R9Ur .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-svvPD1R9Ur .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-svvPD1R9Ur .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-svvPD1R9Ur .carousel-control,
.cid-svvPD1R9Ur .close {
  background: #1b1b1b;
}
.cid-svvPD1R9Ur .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-svvPD1R9Ur .carousel-control-prev span {
  margin-right: 5px;
}
.cid-svvPD1R9Ur .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-svvPD1R9Ur .carousel-control-next span {
  margin-left: 5px;
}
.cid-svvPD1R9Ur .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-svvPD1R9Ur .close::before {
  content: '\e91a';
}
.cid-svvPD1R9Ur .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-svvPD1R9Ur .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svvPD1R9Ur .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPD1R9Ur .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svvPD1R9Ur .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svvPD1R9Ur .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-svvPD1R9Ur .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svvPD1R9Ur .carousel-indicators li.active,
.cid-svvPD1R9Ur .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svvPD1R9Ur .carousel-indicators li::after,
.cid-svvPD1R9Ur .carousel-indicators li::before {
  content: none;
}
.cid-svvPD1R9Ur .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svvPD1R9Ur .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-svvPD1R9Ur .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-svvPD1R9Ur .carousel-indicators {
    display: none;
  }
}
.cid-svvPD1R9Ur .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svvPD1R9Ur .carousel-inner > .active {
  display: block;
}
.cid-svvPD1R9Ur .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPD1R9Ur .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-svvPD1R9Ur .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-svvPD1R9Ur .carousel-control,
  .cid-svvPD1R9Ur .carousel-indicators,
  .cid-svvPD1R9Ur .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-svvPD1R9Ur .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-svvPD1R9Ur .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-svvPD1R9Ur .carousel-indicators .active,
.cid-svvPD1R9Ur .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-svvPD1R9Ur .carousel-indicators .active {
  background: #fff;
}
.cid-svvPD1R9Ur .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-svvPD1R9Ur .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-svvPD1R9Ur .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-svvPD1R9Ur .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-svvPD1R9Ur .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-svvPD1R9Ur .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-svvPD1R9Ur .carousel {
  width: 100%;
}
.cid-svvPD1R9Ur .modal-backdrop.in {
  opacity: 0.8;
}
.cid-svvPD1R9Ur .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-svvPD1R9Ur .modal.fade .modal-dialog,
.cid-svvPD1R9Ur .modal.in .modal-dialog {
  transform: none;
}
.cid-svvPD1R9Ur .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-svvPD1R9Ur H6 {
  text-align: center;
}
.cid-ssBZ7DWGJo {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #360814;
}
.cid-ssBZ7DWGJo .mbr-text,
.cid-ssBZ7DWGJo blockquote {
  color: #767676;
}
.cid-ssBZ7DWGJo .mbr-text B {
  color: #ffffff;
}
.cid-ssBZWBMSca {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #362708;
}
.cid-ssBZWBMSca .card-img {
  background-color: #fff;
}
.cid-ssBZWBMSca .card-box {
  padding: 2rem;
}
.cid-ssBZWBMSca h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-ssBZWBMSca p {
  text-align: left;
}
.cid-ssBZWBMSca .mbr-text {
  color: #767676;
}
.cid-ssBZWBMSca .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-ssBZWBMSca .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-ssBZWBMSca .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-ssC0h0q35B {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #362708;
}
.cid-ssC0h0q35B .card-img {
  background-color: #fff;
}
.cid-ssC0h0q35B .card-box {
  padding: 2rem;
}
.cid-ssC0h0q35B h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-ssC0h0q35B p {
  text-align: left;
}
.cid-ssC0h0q35B .mbr-text {
  color: #767676;
}
.cid-ssC0h0q35B .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-ssC0h0q35B .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-ssC0h0q35B .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-ssC0J367mX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #360814;
}
.cid-ssC0J367mX .mbr-text,
.cid-ssC0J367mX blockquote {
  color: #767676;
}
.cid-ssC0J367mX .mbr-text B {
  color: #ffffff;
}
.cid-ssC0J367mX .mbr-text {
  color: #ffffff;
}
.cid-ssC1j7KvaX {
  background-image: url("../../../assets/images/mix-table-3388006-1922-1920x1280.jpg");
}
.cid-ssC1j7KvaX .mbr-text,
.cid-ssC1j7KvaX .mbr-section-btn {
  text-align: center;
}
.cid-svvPKs8PJ9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #362708;
}
.cid-svvPKs8PJ9 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-svvPKs8PJ9 .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-svvPKs8PJ9 .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-svvPKs8PJ9 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-svvPKs8PJ9 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-svvPKs8PJ9 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-svvPKs8PJ9 .carousel-control,
.cid-svvPKs8PJ9 .close {
  background: #1b1b1b;
}
.cid-svvPKs8PJ9 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-svvPKs8PJ9 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-svvPKs8PJ9 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-svvPKs8PJ9 .carousel-control-next span {
  margin-left: 5px;
}
.cid-svvPKs8PJ9 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-svvPKs8PJ9 .close::before {
  content: '\e91a';
}
.cid-svvPKs8PJ9 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-svvPKs8PJ9 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svvPKs8PJ9 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPKs8PJ9 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svvPKs8PJ9 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svvPKs8PJ9 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-svvPKs8PJ9 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svvPKs8PJ9 .carousel-indicators li.active,
.cid-svvPKs8PJ9 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svvPKs8PJ9 .carousel-indicators li::after,
.cid-svvPKs8PJ9 .carousel-indicators li::before {
  content: none;
}
.cid-svvPKs8PJ9 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svvPKs8PJ9 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-svvPKs8PJ9 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-svvPKs8PJ9 .carousel-indicators {
    display: none;
  }
}
.cid-svvPKs8PJ9 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svvPKs8PJ9 .carousel-inner > .active {
  display: block;
}
.cid-svvPKs8PJ9 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPKs8PJ9 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-svvPKs8PJ9 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-svvPKs8PJ9 .carousel-control,
  .cid-svvPKs8PJ9 .carousel-indicators,
  .cid-svvPKs8PJ9 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-svvPKs8PJ9 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-svvPKs8PJ9 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-svvPKs8PJ9 .carousel-indicators .active,
.cid-svvPKs8PJ9 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-svvPKs8PJ9 .carousel-indicators .active {
  background: #fff;
}
.cid-svvPKs8PJ9 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-svvPKs8PJ9 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-svvPKs8PJ9 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-svvPKs8PJ9 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-svvPKs8PJ9 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-svvPKs8PJ9 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-svvPKs8PJ9 .carousel {
  width: 100%;
}
.cid-svvPKs8PJ9 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-svvPKs8PJ9 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-svvPKs8PJ9 .modal.fade .modal-dialog,
.cid-svvPKs8PJ9 .modal.in .modal-dialog {
  transform: none;
}
.cid-svvPKs8PJ9 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-svvPKs8PJ9 H6 {
  text-align: center;
}
.cid-svvPLuV4ni {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #362708;
}
.cid-svvPLuV4ni .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-svvPLuV4ni .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-svvPLuV4ni .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-svvPLuV4ni .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-svvPLuV4ni .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-svvPLuV4ni .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-svvPLuV4ni .carousel-control,
.cid-svvPLuV4ni .close {
  background: #1b1b1b;
}
.cid-svvPLuV4ni .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-svvPLuV4ni .carousel-control-prev span {
  margin-right: 5px;
}
.cid-svvPLuV4ni .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-svvPLuV4ni .carousel-control-next span {
  margin-left: 5px;
}
.cid-svvPLuV4ni .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-svvPLuV4ni .close::before {
  content: '\e91a';
}
.cid-svvPLuV4ni .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-svvPLuV4ni .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svvPLuV4ni .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPLuV4ni .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svvPLuV4ni .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svvPLuV4ni .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-svvPLuV4ni .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svvPLuV4ni .carousel-indicators li.active,
.cid-svvPLuV4ni .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svvPLuV4ni .carousel-indicators li::after,
.cid-svvPLuV4ni .carousel-indicators li::before {
  content: none;
}
.cid-svvPLuV4ni .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svvPLuV4ni .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-svvPLuV4ni .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-svvPLuV4ni .carousel-indicators {
    display: none;
  }
}
.cid-svvPLuV4ni .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svvPLuV4ni .carousel-inner > .active {
  display: block;
}
.cid-svvPLuV4ni .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svvPLuV4ni .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-svvPLuV4ni .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-svvPLuV4ni .carousel-control,
  .cid-svvPLuV4ni .carousel-indicators,
  .cid-svvPLuV4ni .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-svvPLuV4ni .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-svvPLuV4ni .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-svvPLuV4ni .carousel-indicators .active,
.cid-svvPLuV4ni .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-svvPLuV4ni .carousel-indicators .active {
  background: #fff;
}
.cid-svvPLuV4ni .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-svvPLuV4ni .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-svvPLuV4ni .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-svvPLuV4ni .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-svvPLuV4ni .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-svvPLuV4ni .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-svvPLuV4ni .carousel {
  width: 100%;
}
.cid-svvPLuV4ni .modal-backdrop.in {
  opacity: 0.8;
}
.cid-svvPLuV4ni .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-svvPLuV4ni .modal.fade .modal-dialog,
.cid-svvPLuV4ni .modal.in .modal-dialog {
  transform: none;
}
.cid-svvPLuV4ni .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-svvPLuV4ni H6 {
  text-align: center;
}
.cid-ssC1pBv8VL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #360814;
}
.cid-ssC1pBv8VL .mbr-text,
.cid-ssC1pBv8VL blockquote {
  color: #767676;
}
.cid-ssC1pBv8VL .mbr-text B {
  color: #ffffff;
}
.cid-ssC1pBv8VL .mbr-text {
  color: #ffffff;
}
.cid-ssC6URvaVp {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #000000;
}
.cid-ssC6URvaVp .title {
  margin-bottom: 2rem;
}
.cid-ssC6URvaVp .mbr-section-subtitle {
  color: #767676;
}
.cid-ssC6URvaVp a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-ssC6URvaVp a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-ssC6URvaVp .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-ssC6URvaVp .input-group-btn {
  display: block;
  text-align: center;
}
.cid-ssC6URvaVp LABEL {
  color: #ffffff;
}
.cid-ssC6URvaVp H2 {
  color: #000000;
}
.cid-ssC6WVRsQ2 {
  padding-top: 45px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-ssC6WVRsQ2 .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-ssC6WVRsQ2 .social-list a:focus {
  text-decoration: none;
}
.cid-ssC6YMWmgg {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-ssC6YMWmgg .media-container-row .mbr-text {
  color: #585555;
}
